<!DOCTYPE html>
<html>

<head>
    <title>Apollo Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>
      
        .navbar-nav .nav-item .nav-link.btn.btn-outline-custom {
            background-color: transparent;
            color: black;
            border-color: maroon;
            font-weight: bold;
            border-radius: 10px;
            padding: 10px;
            margin: 5px;
            font-size: 18px;
        }

        .navbar-nav .nav-item .nav-link.btn.btn-outline-custom:hover {
            background-color: maroon;
            color: white;
        }

        .navbar-nav .nav-item .nav-link.btn.btn-outline-custom:focus,
        .navbar-nav .nav-item .nav-link.btn.btn-outline-custom:active {
            box-shadow: none;
        }

        .navbar-nav .nav-item .nav-link.btn.btn-outline-custom:focus,
        .navbar-nav .nav-item .nav-link.btn.btn-outline-custom:active {
            background-color: maroon;
            color: white;
        }
    </style>
</head>

<body>

    <header id="dashboard" class="bg-maroon text-white text-center py-4">
        <div class="container">
            <h2 class="font-weight-bold display-5">APOLLO</h2>
            <h3 class="font-weight-bold display-6">ADMIN DASHBOARD</h3>
        </div>
    </header>

    <nav class="navbar navbar-expand-lg navbar-light d-flex" style="background-color: #e9ecef;">
        <div class="container d-flex">
            <ul class="navbar-nav mx-auto d-flex ">
                <li class="nav-item">
                    <a id="services-link" class="nav-link btn btn-outline-custom d-flex align-items-center" href="#">
                        <i class="fas fa-cogs mr-2"></i>Manage Services
                    </a>
                </li>
                <li class="nav-item">
                    <a id="projects-link" class="nav-link btn btn-outline-custom d-flex align-items-center" href="#">
                        <i class="fas fa-tasks mr-2"></i>Manage Projects
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        <% if (notification) { %>
        <div id="notification" class="alert alert-success">
            <span><%= notification %></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <script>

            setTimeout(function () {
                document.getElementById('notification').style.display = 'none';
            }, 20000);
        </script>
        <% } %>
    </div>
    <div id="content"></div>

    <script>
        function loadContentFromURL() {
            const currentURL = window.location.pathname;
            if (currentURL === '/manage-services') {
                loadServices();
            } else if (currentURL === '/manage-projects') {
                loadProjects();
            }
        }

        loadContentFromURL();

        document.getElementById('services-link').addEventListener('click', function (e) {
            e.preventDefault();
            window.history.pushState({}, '', '/manage-services');
            loadServices();
        });

        document.getElementById('projects-link').addEventListener('click', function (e) {
            e.preventDefault();
            window.history.pushState({}, '', '/manage-projects');
            loadProjects();
        });

        function loadServices() {
            fetch('/admin-services')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('content').innerHTML = data;
                });
        }

        function loadProjects() {
            fetch('/admin-projects')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('content').innerHTML = data;
                });
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
